
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row alert badge-dark">
            <div class="alert badge-danger" role="alert">
                <h4 class="alert-heading">İLETİŞİM</h4>
                <p>
                    RastgeleFilm sunucularında herhangi bir film veya fragman mevcut değildir. Bu nedenle yasal yükümlülüğe tabi tutulamaz. Yayınladığımız bir filmde hak sahipliğiniz söz konusu olması durumunda caneral5858@gmail.com mail adresinden kaldırılması talebinde bulunabilirsiniz. Bu durumda en kısa süre içerisinde yayından kaldırılacaktır.

                    İlgili Yasa:

                    MADDE 5 (1) Yer sağlayıcı, yer sağladığı içeriği kontrol etmek veya hukuka aykırı bir faaliyetin söz konusu olup olmadığını araştırmakla yükümlü değildir.

                    (2) Yer sağlayıcı, yer sağladığı hukuka aykırı içerikten, ceza sorumluluğu ile ilgili hükümler saklı kalmak kaydıyla, bu Kanunun 8 inci ve 9 uncu maddelerine göre haberdar edilmesi halinde ve teknik olarak imkân bulunduğu ölçüde hukuka aykırı içeriği yayından kaldırmakla yükümlüdür.
                </p>
                <hr>
                <p class="mb-0">Reklam istekleriniz için de caneral5858@gmail.com mail adresini kullanabilirsiniz.</p>
            </div>
            <div class="alert badge-primary" role="alert">
                <h4 class="alert-heading">Film Önerisi</h4>
                <p>
                    
                    RastgeleFilm sitesi bir Film önerisi sitesidir.Sizlere keyifli bir şekilde film önerme amacındadır.Sitemizde her türlü yerli film izlemek ve yabancı film önerisi almanız için burada bulunmuş oluyoruz.İster yerli film isterse yabancı film olsun sizlere her türlü hizmet ve imkanı sunmak için vesizlere film izleme keyfini sunmak istiyoruz.Aradığınız film sitelerinde HD kalite bulamıyorsanız size720P film 1080P film izleme kalitesi veriyoruz.Filmlerimizi bir çok alternatif seçenekleri ile beraberister Türkçe Dublaj Film izlemek isterse de Altyazılı şekilde siz değerli film severlerin zevkine sunuyoruz.Sadecemasa üstü bilgisayarlardan değil aynı zamanda Tablet ve cep teledonlarınızdan HD kalitede Yerli Filmizleyebilirsiniz.
                    Yabanci Film izle
                    Tüm dünyada ve aynı zamanda Türkiye'de vizyonda çıkan yabancı filmleri izlemek için fullizlet.com en ideal adres sizler için.Tüm yabancı filmleri Türkçe Dublaj ve Altyazılı 720p 1080p kalitesinde filmi Tekpart Film izleme özelliği ile izleyebilme seçeneklerinizi sizin için mümkün kılıyoruz.Tv karşısındafilm izlerken reklamlardan bunladıysanız biz buradayız.Tüm filmleri isterseniz orjinal dilde altyazılıfilm izlemek isterseniz altyazılı seçeneklerini tıklayarak izleyebilirsiniz.Sitemizdeki filmlerde herhangibir sıkıntı ya da istediğiniz bir film olursa lütfen iletişime geçmekten çekinmeyiniz.Bizim içingörüşleriniz çok çok değerlidir.
                    Sitede bulunan filmler, diziler veya fragmanlar youtube, openload, vidmoly ve buna benzer bir çokvideo film paylaşım sitelerinin paylaşıma açılmış olan filmlerinden oluşmaktadır. Fullizlet.comsunucularında herhangi bir film veya fragman mevcut değildir. Bu nedenle yasal yükümlülüğe tabitutulamaz. Yayınladığımız bir filmde hak sahipliğiniz söz konusu olması durumunda caneral5858@gmail.com mail adresinden kaldırılmasıtalebinde buluna bilirsiniz. Bu durumda en kısa süre içerisinde yayından kaldırılacaktır.
                </p>
                <hr>
                <p class="mb-0">RastgeleFilm</p>
            </div>

        </div>
    </div>