@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main-section" style="background-color:black" id="filmSayfasi">
    <!--main-section-start-->
    <div class="container">
        @{
            Random rand = new Random();
            int randi = rand.Next(1, 10);
        }
        @foreach (var name in Model)
        {
            if (name.FilmId == randi)
            {
                <h2>@name.FilmAd</h2>
                <h6>Imdb Puanı: @name.FilmPuan</h6>
            }

        }
        <div class="row">
            <div class="col-sm">
                @foreach (var acikla in Model)
                {
                    if (acikla.FilmId == randi)
                    { 
                       @acikla.Aciklama
                    }

                }
            </div>
            <div class="col-sm">


                @foreach (var movie in Model)
                {

                    @if (movie.FilmId == randi)
                    {
                        <!--Video Başlangıç Kısmı-->
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <video controls width="600" height="240" autoplay>
                                        <source src="~/video/@movie.Video" type="video/mp4" alt="@movie.FilmAd">
                                        Video Yüklenemedi.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <!--Video Bitiş Kısmı-->
                    }

                }

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <a class="link animated fadeInUp delay-1s servicelink col-md" href="#filmSayfasi">Filmi Değiştir</a>
            </div>
            <div class="col-sm">
                @foreach (var gorsel in Model)
                {
                    if (gorsel.FilmId == randi)
                    {
                        <img src="~/img/@gorsel.Resim" alt="">
                    }
                }

            </div>
        </div>
    </div>
</section>
<!--main-section-end-->
