@model IEnumerable<RastgeleFilm.Models.Film>
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main-section" style="background-color:black" id="filmSayfasi">
    <!--main-section-start-->
    <div class="container">
        @foreach (var name in Model)
        {
            <h2>@name.FilmAd</h2>
            <h6>Imdb Puanı: @name.FilmPuan</h6>
        }
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-warning btn-block" href="/Home/Index">Filmi Değiştir</a>
            </div>
            <div class="col-sm">
                @foreach (var movie in Model)
                {
                    <!--Video Başlangıç Kısmı-->
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <video controls width="600" height="300" autoplay>
                                    <source src="~/video/@movie.VideoYolu" type="video/mp4" alt="@movie.FilmAd">
                                    Video Yüklenemedi.
                                </video>
                            </div>
                        </div>
                    </div>
                    <!--Video Bitiş Kısmı-->
                }
            </div>
            <div class="col-sm">
                @foreach (var gorsel in Model)
                {
                    <img width="600" height="300" src="~/img/@gorsel.ResimYolu" alt="">
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm">
            <h3>FİLMİN KONUSU</h3>
            @foreach (var acikla in Model)
            {
                @acikla.FilmAciklama                                             
            }
        </div>
    </div>
</section>
<!--main-section-end-->
